.Rproj.user
.Rhistory
.RData
.Ruserdata
*.log
*.bam
*.bai
*.bw
*.bdg
*.pptx
*.xlsx
*.docx
Rplots.pdf
*backup*
*temp*
*test*
/logs
sample_info.txt
/data/*
/data/pangenomes/**/*.DB*/
/data/pangenomes/**/org.*.eg.db/
!/data/pangenomes/
!/data/pangenomes/
!/data/reference_data/
!/data/analysis_configs/
/analysis
/reports
/scripts/*/*.html
.DS_Store
busco_downloads
blastdb
extracted_data
.vscode
/.quarto/
_freeze
